In [1]:
import tinydb

In [2]:
print(tinydb.__version__)

4.7.0

In [50]:
db = tinydb.TinyDB('db.json', sort_keys=True, indent=4, separators=(',', ': '))
print (db)

<TinyDB tables=['TABLE 2', 'TABLE 1', '_default', 'fruits'], tables_count=4, default_table_documents_count=1, all_tables_documents_count=['TABLE 2=2', 'TABLE 1=2', '_default=1', 'fruits=7']>

In [4]:
db.insert({'name': 'John', 'rank': 2})

db.insert({'name': 'Peter', 'rank': 1})

print (db)

<TinyDB tables=['TABLE 2', 'TABLE 1', '_default', 'fruits'], tables_count=4, default_table_documents_count=3, all_tables_documents_count=['TABLE 2=1', 'TABLE 1=1', '_default=3', 'fruits=5']>

In [5]:
print(db)

<TinyDB tables=['TABLE 2', 'TABLE 1', '_default', 'fruits'], tables_count=4, default_table_documents_count=3, all_tables_documents_count=['TABLE 2=1', 'TABLE 1=1', '_default=3', 'fruits=5']>

In [6]:
table = db.table('fruits')
table.insert({'apples': 50})
print (db)

<TinyDB tables=['TABLE 2', 'TABLE 1', '_default', 'fruits'], tables_count=4, default_table_documents_count=3, all_tables_documents_count=['TABLE 2=1', 'TABLE 1=1', '_default=3', 'fruits=6']>

In [7]:
q = tinydb.Query()

In [8]:
print(q)

Query()

In [9]:
db.insert({'name': 'John', 'rank': 2})

db.insert({'name': 'Peter', 'rank': 1})

24

In [10]:
result = db.search(q.name == 'John')
print (result)

[{'name': 'John', 'rank': 2}, {'name': 'John', 'rank': 2}]

In [11]:
print(db)

<TinyDB tables=['TABLE 2', 'TABLE 1', '_default', 'fruits'], tables_count=4, default_table_documents_count=5, all_tables_documents_count=['TABLE 2=1', 'TABLE 1=1', '_default=5', 'fruits=6']>

In [51]:
db.insert({'name': 'John', 'rank': 2})
db.insert({'name': 'Peter', 'rank': 1})

table = db.table('fruits')
table.insert({'apples': 50})
result = table.search(q.apples < 100)

print (result)

[{'apples': 50}, {'apples': 50}, {'apples': 50}, {'apples': 50}, {'apples': 50}, {'apples': 50}, {'apples': 50}, {'apples': 50}]

In [52]:
print(db.all())

[{'name': 'Peter', 'rank': 1}, {'name': 'John', 'rank': 2}, {'name': 'Peter', 'rank': 1}]

In [53]:
db.remove(q.name == 'Peter')

[28, 30]

In [54]:
len(db)

1

In [55]:
db.insert({'name': 'John', 'rank': 2})
db.insert({'name': 'Peter', 'rank': 1})

32

In [56]:
print(db)

<TinyDB tables=['TABLE 2', 'TABLE 1', '_default', 'fruits'], tables_count=4, default_table_documents_count=3, all_tables_documents_count=['TABLE 2=2', 'TABLE 1=2', '_default=3', 'fruits=8']>

In [57]:
for item in db:
    print(item)

{'name': 'John', 'rank': 2}
{'name': 'John', 'rank': 2}
{'name': 'Peter', 'rank': 1}

In [58]:
print(db)

<TinyDB tables=['TABLE 2', 'TABLE 1', '_default', 'fruits'], tables_count=4, default_table_documents_count=3, all_tables_documents_count=['TABLE 2=2', 'TABLE 1=2', '_default=3', 'fruits=8']>

In [59]:
db.remove(q.name == 'John')

[29, 31]

In [60]:
from tinydb.storages import MemoryStorage

In [64]:
db = tinydb.TinyDB(storage=MemoryStorage)

In [65]:
print(db)

<TinyDB tables=[], tables_count=0, default_table_documents_count=0, all_tables_documents_count=[]>

In [66]:
from tinydb.storages import JSONStorage
from tinydb.middlewares import CachingMiddleware
db = tinydb.TinyDB('db.json', storage=CachingMiddleware(JSONStorage),
                   sort_keys=True, indent=4, separators=(',', ': '))

In [67]:
print(db)

<TinyDB tables=['TABLE 2', 'TABLE 1', '_default', 'fruits'], tables_count=4, default_table_documents_count=1, all_tables_documents_count=['TABLE 2=2', 'TABLE 1=2', '_default=1', 'fruits=8']>

In [68]:
db.storage.flush()

In [69]:
with db:
    for item in db:
        print(item)
db.close()

{'name': 'Peter', 'rank': 1}

In [74]:
p = Package()

In [75]:
#

In [76]:
print(p.name)

anam

In [34]:
print(db)

<TinyDB tables=['TABLE 2', 'TABLE 1', '_default', 'fruits'], tables_count=4, default_table_documents_count=1, all_tables_documents_count=['TABLE 2=2', 'TABLE 1=2', '_default=1', 'fruits=7']>

In [35]:
import datetime

class Contact(tinydb.table.Table):
    def __init__ (self, name='default_name',
                  contact_number='default_contact_number',
                  position=None, date_created=None, date_updated=None):
        self._name = name
        self.contact_number = contact_number
        self.position = position
        self.date_created = date_created if date_created is not None else datetime.datetime.now().isoformat()
        self.date_updated = date_updated if date_updated is not None else datetime.datetime.now().isoformat()

    def __repr__ (self) -> str:
        return f"({self.name}, {self.contact_number}, {self.position}, {self.date_created}, {self.date_updated})"

In [36]:
p=Contact()

In [37]:
print(p)

(default_name, default_contact_number, None, 2022-04-03T23:21:27.258330, 2022-04-03T23:21:27.258337)

In [38]:
from tinydb import TinyDB, Query

db = TinyDB('contact-book.json', sort_keys=True, indent=4, separators=(',', ': '))
db.default_table_name = 'contact-book'
ContactQuery = Query()

In [39]:
from typing import List

In [40]:
def create(contact: Contact) -> None:
    contact.position = len(db)+1
    new_contact = {
        'name': contact.name,
        'contact_number': contact.contact_number,
        'position': contact.position,
        'date_created': contact.date_created,
        'date_updated': contact.date_updated
    }
    db.insert(new_contact)

def read() -> List[Contact]:
    results = db.all()
    contacts = []
    for result in results:
        new_contact = Contact(result['name'], result['contact_number'], result['position'],
                              result['date_created'], result['date_updated'])
        contacts.append(new_contact)
    return contacts

def update(position: int, name: str, contact_number: str) -> None:
    if name is not None and contact_number is not None:
        db.update({'name': name, 'contact_number': contact_number},
                  ContactQuery.position == position)
    elif name is not None:
        db.update({'name': name}, ContactQuery.position == position)

    elif contact_number is not None:
        db.update({'contact_number': contact_number},
                  ContactQuery.position == position)

def delete(position) -> None:
    count = len(db)
    db.remove(ContactQuery.position == position)
    for pos in range(position+1, count):
        change_position(pos, pos-1)

def change_position(old_position: int, new_position: int) -> None:
    db.update({'position': new_position},
              ContactQuery.position == old_position)

In [41]:
print(p)

(default_name, default_contact_number, None, 2022-04-03T23:21:27.258330, 2022-04-03T23:21:27.258337)

In [42]:
c=Contact()

In [43]:
print(c)

(default_name, default_contact_number, None, 2022-04-03T23:21:29.757117, 2022-04-03T23:21:29.757123)

In [44]:
create(c)

In [2]:
import tinydb

In [20]:
class Package(tinydb.database.Table):
    version='1.2.3'

In [22]:
class Package(tinydb.table.Table):
    def __init__(self):
        super().__init__(self, name='anam')
        #self.name='name'
        self.version='1.2.3'

In [23]:
p=Package()

In [39]:
db = tinydb.TinyDB('db.json',
                   sort_keys=True, indent=4, separators=(',', ': '))

table1 = db.table('version')
table1.insert({'Name' : '??' , 'Version' : 0.123})


table2 = db.table('requirements')
table2.insert({'Name' : 'Alice' , 'Age' : 19})
table2.insert({'Name' : 'john' , 'Age' : 12})
table2.insert({'Name' : 'john2' , 'Age' : 14})

9

In [40]:
#d=tinydb.table.Document(value='val..', doc_id=99)

In [41]:
#table2.insert(p)

In [42]:
print(db)

<TinyDB tables=['requirements', 'version'], tables_count=2, default_table_documents_count=0, all_tables_documents_count=['requirements=9', 'version=1']>

In [43]:
for t in db.tables():
    print('Table: {}'.format(t))
    #print(type(t))
    for item in db:
        print(item)

Table: requirements
Table: version

In [44]:
print(db)

<TinyDB tables=['requirements', 'version'], tables_count=2, default_table_documents_count=0, all_tables_documents_count=['requirements=9', 'version=1']>