In [54]:
import tinydb

In [55]:
print(tinydb.__version__)

4.7.0

In [56]:
db = tinydb.TinyDB('db.json')
print (db)

<TinyDB tables=['fruits', '_default'], tables_count=2, default_table_documents_count=1, all_tables_documents_count=['fruits=3', '_default=1']>

In [57]:
db.insert({'name': 'John', 'rank': 2})

db.insert({'name': 'Peter', 'rank': 1})

print (db)

<TinyDB tables=['fruits', '_default'], tables_count=2, default_table_documents_count=3, all_tables_documents_count=['fruits=3', '_default=3']>

In [58]:
print(db)

<TinyDB tables=['fruits', '_default'], tables_count=2, default_table_documents_count=3, all_tables_documents_count=['fruits=3', '_default=3']>

In [59]:
table = db.table('fruits')
table.insert({'apples': 50})
print (db)

<TinyDB tables=['fruits', '_default'], tables_count=2, default_table_documents_count=3, all_tables_documents_count=['fruits=4', '_default=3']>

In [60]:
q = tinydb.Query()

In [61]:
print(q)

Query()

In [62]:
db.insert({'name': 'John', 'rank': 2})

db.insert({'name': 'Peter', 'rank': 1})

16

In [63]:
result = db.search(q.name == 'John')
print (result)

[{'name': 'John', 'rank': 2}, {'name': 'John', 'rank': 2}]

In [64]:
print(db)

<TinyDB tables=['fruits', '_default'], tables_count=2, default_table_documents_count=5, all_tables_documents_count=['fruits=4', '_default=5']>

In [65]:
db.insert({'name': 'John', 'rank': 2})

db.insert({'name': 'Peter', 'rank': 1})

table = db.table('fruits')

table.insert({'apples': 50})

result = table.search(q.apples < 100)

print (result)

[{'apples': 50}, {'apples': 50}, {'apples': 50}, {'apples': 50}, {'apples': 50}]

In [66]:
print(db.all())

[{'name': 'Peter', 'rank': 1}, {'name': 'John', 'rank': 2}, {'name': 'Peter', 'rank': 1}, {'name': 'John', 'rank': 2}, {'name': 'Peter', 'rank': 1}, {'name': 'John', 'rank': 2}, {'name': 'Peter', 'rank': 1}]

In [67]:
db.remove(q.name == 'Peter')

[12, 14, 16, 18]

In [68]:
len(db)

3

In [69]:
db.insert({'name': 'John', 'rank': 2})
db.insert({'name': 'Peter', 'rank': 1})

20

In [70]:
print(db)

<TinyDB tables=['fruits', '_default'], tables_count=2, default_table_documents_count=5, all_tables_documents_count=['fruits=5', '_default=5']>

In [180]:
for item in db:
    print(item)

{'name': 'default_name', 'contact_number': 'default_contact_number', 'position': 1, 'date_created': '2022-04-01T23:05:28.705325', 'date_updated': '2022-04-01T23:05:28.705331'}

In [72]:
print(db)

<TinyDB tables=['fruits', '_default'], tables_count=2, default_table_documents_count=5, all_tables_documents_count=['fruits=5', '_default=5']>

In [73]:
db.remove(q.name == 'John')

[13, 15, 17, 19]

In [136]:
from tinydb.storages import MemoryStorage

In [137]:
db = tinydb.TinyDB(storage=MemoryStorage)

In [138]:
print(db)

<TinyDB tables=[], tables_count=0, default_table_documents_count=0, all_tables_documents_count=[]>

In [139]:
from tinydb.storages import JSONStorage
from tinydb.middlewares import CachingMiddleware
db = tinydb.TinyDB('db.json', storage=CachingMiddleware(JSONStorage))

In [140]:
print(db)

<TinyDB tables=['fruits', '_default'], tables_count=2, default_table_documents_count=1, all_tables_documents_count=['fruits=5', '_default=1']>

In [141]:
db.storage.flush()

In [142]:
with db:
    for item in db:
        print(item)
db.close()

{'name': 'Peter', 'rank': 1}

In [150]:
from tinydb.database import Table

class Package(Table):
    version='1.2.3'

In [143]:
class Package(tinydb.table.Table):
    def __init__(self):
        super().__init__(self, name='anam')
        #self.name='name'
        self.version='1.2.3'

TypeError: __init__() got an unexpected keyword argument 'table_class'

In [153]:
p = Package(storage=None, name=None)

In [179]:
#

In [129]:
print(p.name)

anam

In [155]:
from tinydb import TinyDB

db = TinyDB('db.json')

table1 = db.table('TABLE 1')
table1.insert({'Name' : 'Alice' , 'Age' : 19})

table2 = db.table('TABLE 2')
table2.insert({'Name' : 'john' , 'Age' : 12})

1

In [156]:
print(db)

<TinyDB tables=['fruits', 'TABLE 1', 'TABLE 2', '_default'], tables_count=4, default_table_documents_count=1, all_tables_documents_count=['fruits=5', 'TABLE 1=1', 'TABLE 2=1', '_default=1']>

In [167]:
import datetime

class Contact(tinydb.table.Table):
    def __init__ (self, name='default_name',
                  contact_number='default_contact_number',
                  position=None, date_created=None, date_updated=None):
        self._name = name
        self.contact_number = contact_number
        self.position = position
        self.date_created = date_created if date_created is not None else datetime.datetime.now().isoformat()
        self.date_updated = date_updated if date_updated is not None else datetime.datetime.now().isoformat()

    def __repr__ (self) -> str:
        return f"({self.name}, {self.contact_number}, {self.position}, {self.date_created}, {self.date_updated})"

In [168]:
p=Contact()

In [169]:
print(p)

(default_name, default_contact_number, None, 2022-04-01T23:02:25.304416, 2022-04-01T23:02:25.304423)

In [170]:
from tinydb import TinyDB, Query

db = TinyDB('contact-book.json')
db.default_table_name = 'contact-book'
ContactQuery = Query()

In [172]:
from typing import List

In [173]:
def create(contact: Contact) -> None:
    contact.position = len(db)+1
    new_contact = {
        'name': contact.name,
        'contact_number': contact.contact_number,
        'position': contact.position,
        'date_created': contact.date_created,
        'date_updated': contact.date_updated
    }
    db.insert(new_contact)

def read() -> List[Contact]:
    results = db.all()
    contacts = []
    for result in results:
        new_contact = Contact(result['name'], result['contact_number'], result['position'],
                              result['date_created'], result['date_updated'])
        contacts.append(new_contact)
    return contacts

def update(position: int, name: str, contact_number: str) -> None:
    if name is not None and contact_number is not None:
        db.update({'name': name, 'contact_number': contact_number},
                  ContactQuery.position == position)
    elif name is not None:
        db.update({'name': name}, ContactQuery.position == position)

    elif contact_number is not None:
        db.update({'contact_number': contact_number},
                  ContactQuery.position == position)

def delete(position) -> None:
    count = len(db)
    db.remove(ContactQuery.position == position)
    for pos in range(position+1, count):
        change_position(pos, pos-1)

def change_position(old_position: int, new_position: int) -> None:
    db.update({'position': new_position},
              ContactQuery.position == old_position)

In [174]:
print(p)

(default_name, default_contact_number, None, 2022-04-01T23:02:25.304416, 2022-04-01T23:02:25.304423)

In [175]:
c=Contact()

In [176]:
print(c)

(default_name, default_contact_number, None, 2022-04-01T23:05:28.705325, 2022-04-01T23:05:28.705331)

In [177]:
create(c)

In [178]:
print(db)

<TinyDB tables=['contact-book'], tables_count=1, default_table_documents_count=1, all_tables_documents_count=['contact-book=1']>

In [181]:
for item in db:
    print(item)

{'name': 'default_name', 'contact_number': 'default_contact_number', 'position': 1, 'date_created': '2022-04-01T23:05:28.705325', 'date_updated': '2022-04-01T23:05:28.705331'}